<h1>Media Analytics</h1>

<p>To be implemented.</p>

<div class="row">
  <div class="card">
    <div class="section">
      <h2>Title</h2>
      <h3>Subtitle</h3>
    </div>
    <img class="section media" src="https://loremflickr.com/640/360" alt="Lorem Flickr" />
    <p class="section">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua
    </p>
    <div class="section">
      <button (click)="onLike()">Like</button>
      <button (click)="onShare()">Share</button>
    </div>
  </div>
  <div class="card">
    <div class="section">
      <h2>Title</h2>
      <h3>Subtitle</h3>
    </div>
    <div class="section media">
      <!-- <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/ScMzIvxBSi4"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe> -->
    </div>
    <p class="section">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua
    </p>
    <div class="section">
      <button (click)="onLike()">Like</button>
      <button (click)="onShare()">Share</button>
    </div>
  </div>
</div>
