<h1>Media Analytics</h1>

<p>To be implemented.</p>

<article>
  <h2>Title</h2>
  <h3>Subtitle</h3>
  <img class="section media" src="https://loremflickr.com/640/360" alt="Lorem Flickr" />
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore et dolore magna aliqua
  </p>
  <footer>
    <div class="grid">
      <button (click)="onLike()">Like</button>
      <button class="secondary" (click)="onShare()">Share</button>
    </div>
  </footer>
</article>
<article>
  <h2>Title</h2>
  <h3>Subtitle</h3>
  <!-- <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/ScMzIvxBSi4"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe> -->
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore et dolore magna aliqua
  </p>
  <footer>
    <div class="grid">
      <button (click)="onLike()">Like</button>
      <button class="secondary" (click)="onShare()">Share</button>
    </div>
  </footer>
</article>
