<header class="container">
  <nav>
    <ul>
      <li>
        <a [routerLink]="'/'" class="logo">
          <img src="/assets/matomo.svg" height="32px" width="48px" alt="Matomo Logo" />
          <strong>ngxMatomo</strong>
        </a>
      </li>
    </ul>
    <ul>
      <li><a routerLink="/user">User</a></li>
      <li><a routerLink="/consent">Consent</a></li>
      <li><a routerLink="/event">Event</a></li>
      <li><a routerLink="/ecommerce">eCommerce</a></li>
      <li><a routerLink="/media">Media</a></li>
      <li><a routerLink="/form">Form</a></li>
    </ul>
  </nav>
</header>

<main class="container" id="content">
  <router-outlet />
</main>
