<header>
  <a [routerLink]="'/'" class="logo">
    <img src="/assets/matomo.svg" height="32px" width="48px" alt="Matomo Logo" />
    <span>ngxMatomo</span>
  </a>
  <a routerLink="/user" class="button">
    User
  </a>
  <a routerLink="/consent" class="button">
    Consent
  </a>
  <a routerLink="/event" class="button">
    Event
  </a>
  <a routerLink="/ecommerce" class="button">
    eCommerce
  </a>
  <a routerLink="/media" class="button">
    Media
  </a>
  <a routerLink="/form" class="button">
    Form
  </a>
</header>

<main id="content">
  <router-outlet></router-outlet>
</main>
