# See http://help.github.com/ignore-files/ for more about ignoring files.

# System files
.DS_Store
Thumbs.db

# IDEs and editors
**/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.iml

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Compiled output
/dist
/out-tsc
/src/**/*.js
!src/demo/systemjs.config.js
!src/demo/systemjs.config.lib.js
!**/*systemjs-angular-loader.js
*.js.map

# Node modules
node_modules

# Misc
.sass-cache
coverage
debug.log
npm-debug.log
yarn-debug.log*
yarn-error.log*
testem.log

# E2E tests
e2e/**/*.js
e2e/**/*.js.map
