<h1>Consent Management</h1>

<article>
  <h2>User consent for tracking</h2>
  <p>Nullam dui arcu, malesuada et sodales eu, efficitur vitae dolor. Sed ultricies dolor non ante vulputate hendrerit.
    Vivamus sit amet suscipit sapien. Nulla iaculis eros a elit pharetra egestas. Nunc placerat facilisis cursus. Sed
    vestibulum metus eget dolor pharetra rutrum.</p>
  <footer>
    <div class="grid">
      <button class="primary" (click)="onGiveConsent($event)">Give Consent</button>
      <button class="secondary" (click)="onRemoveConsent($event)">Remove Consent</button>
    </div>
  </footer>
</article>
