<h1>Consent Management</h1>

<article>
  <h2>User consent for tracking</h2>
  <p>
    If you have configured the Matomo tracker to expect consent for tracking, then no tracking will
    occur until consent is given.
  </p>
  <footer>
    <div class="grid">
      <button class="primary" (click)="onGiveConsent($event)">Give Consent</button>
      <button class="secondary" (click)="onRemoveConsent($event)">Remove Consent</button>
    </div>
  </footer>
</article>

<h2>Code</h2>

<details>
  <summary>Knowing if Matomo has its cookies enabled</summary>
  <pre><code class="language-typescript">{{ hasCookiesCode }}</code></pre>
</details>

<details>
  <summary>Giving tracking consent</summary>
  <pre><code class="language-typescript">{{ giveConsentCode }}</code></pre>
</details>

<details>
  <summary>Forgiving given tracking consent</summary>
  <pre><code class="language-typescript">{{ removeConsentCode }}</code></pre>
</details>
