<h1>Event handling</h1>

<article>
  <table>
    <caption>
      Buttons and Links
    </caption>
    <thead>
      <tr>
        <th>Description</th>
        <th>Sample</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Regular button - Tracking managed with code</td>
        <td><button (click)="onClick()">Click Me!</button></td>
      </tr>
      <!-- <tr>
        <td>Regular button - Tracking managed with directive</td>
        <td><button>Click Me!</button></td>
      </tr> -->
      <tr>
        <td>Regular link</td>
        <td><a href="https://matomo.org/">Matomo</a></td>
      </tr>
    </tbody>
  </table>
  <footer>
  </footer>
</article>

<h2>Code</h2>

<details>
  <summary>Code for tracking an event</summary>
  <pre><code class="language-typescript">{{ eventTrackingCode }}</code></pre>
</details>

<details>
  <summary>Directive for tracking a click</summary>
  <pre><code class="language-html">{{ clickTrackingCode }}</code></pre>
</details>
