<h1>Form Analytics</h1>

<p>To be implemented.</p>

<form [formGroup]="foodForm" id="foodForm">
  <fieldset>
    <label for="favoriteFood">Favorite Food</label>
    <input type="text" placeholder="Favorite food" id="favoriteFood" formControlName="favorite" required />
    <label for="comment">Comment</label>
    <textarea placeholder="Leave a comment" id="comment" formControlName="comment"></textarea>
  </fieldset>
  <button type="submit" class="primary" (click)="onSubmit()" [disabled]="!foodForm.valid">
    Submit
  </button>
</form>
