<h1>eCommerce Analytics</h1>

<h2>Cart</h2>

<div *ngIf="order?.items?.length; else noOrder">
  <table>
    <caption>
      Your order
    </caption>
    <thead>
      <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Total Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of order?.items">
        <td data-label="Item">{{ item.article.name }}</td>
        <td data-label="Quantity">{{ item.quantity }}</td>
        <td data-label="Unit Price">{{ item.article.price | currency }}</td>
        <td data-label="Total Price">
          {{ item.quantity * (item.article?.price || 0) | currency }}
        </td>
      </tr>
    </tbody>
  </table>
  <p>Total price: {{ getGrandTotalPrice() | currency }}</p>
  <button class="primary" (click)="validateOrder()">Order</button>
</div>

<ng-template #noOrder>
  <p>Your cart is empty. Please consider adding items.</p>
</ng-template>

<h2>Catalog</h2>

<div class="row">
  <div class="card" *ngFor="let article of articles">
    <h3 class="section">{{ article.name }}</h3>
    <img src="https://picsum.photos/id/{{ article.id }}/200/300" alt="" class="section media" />
    <p class="section">{{ article.description }}</p>
    <div class="section">
      <button class="primary" (click)="addArticle(article.id)">+</button>
      <button class="secondary" (click)="removeArticle(article.id)">-</button>
    </div>
  </div>
</div>
