<h1>User Id management</h1>

<section>
  <article>
    <h2>Visitor data</h2>
    <p>Information currently known by the Matomo tracker.</p>
    <figure>
      <table role="grid">
        <caption>
          Visitor data
        </caption>
        <thead>
          <tr>
            <th scope="col">Data</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Visitor Id</th>
            <td data-label="Value">{{ visitorId }}</td>
          </tr>
          <tr>
            <th scope="row">Visitor Info</th>
            <td data-label="Value">{{ visitorInfo | json }}</td>
          </tr>
          <tr>
            <th scope="row">User Id</th>
            <td data-label="Value">{{ userId }}</td>
          </tr>
        </tbody>
      </table>
    </figure>
  </article>

  <h2>User Id handling</h2>

  <form [formGroup]="userIdForm">
    <div class="grid">
      <input type="text" placeholder="User ID" formControlName="userId" required />
      <button
        type="submit"
        class="primary"
        (click)="onUserIdSubmit()"
        [disabled]="!userIdForm.valid"
      >
        Set User ID
      </button>
      <button type="button" class="secondary" (click)="onUserIdReset()">Reset User ID</button>
    </div>
  </form>
</section>

<h2>Code</h2>

<details>
  <summary>Getting the User Id</summary>
  <pre><code class="language-typescript">{{ getUserIdCode }}</code></pre>
</details>

<details>
  <summary>Setting the User Id</summary>
  <pre><code class="language-typescript">{{ setUserIdCode }}</code></pre>
</details>

<details>
  <summary>Resetting the User Id</summary>
  <pre><code class="language-typescript">{{ resetUserIdCode }}</code></pre>
</details>
