<h1>User Id management</h1>

<h2>Visitor data</h2>

<table>
  <caption>
    Visitor attributes
  </caption>
  <thead>
    <tr>
      <th>Data</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td data-label="Data">Visitor Id</td>
      <td data-label="Value">{{ visitorId }}</td>
    </tr>
    <tr>
      <td data-label="Data">Visitor Info</td>
      <td data-label="Value">{{ visitorInfo | json }}</td>
    </tr>
    <tr>
      <td data-label="Data">User Id</td>
      <td data-label="Value">{{ userId }}</td>
    </tr>
  </tbody>
</table>

<h2>User Id handling</h2>

<form [formGroup]="userIdForm">
  <input type="text" placeholder="User ID" formControlName="userId" required />
  <button type="submit" class="primary" (click)="onUserIdSubmit()" [disabled]="!userIdForm.valid">
    Set User ID
  </button>
  <button class="secondary" (click)="onUserIdReset()">
    Reset User ID
  </button>
</form>
