<h1>eCommerce Analytics</h1>

<section>
  <h2>Cart</h2>

  <article>
    <h3>Your order</h3>
    <div *ngIf="order?.items?.length; else noOrder">
      <figure>
        <table role="grid">
          <thead>
            <tr>
              <th scope="col">Item</th>
              <th scope="col">Reference</th>
              <th scope="col">Quantity</th>
              <th scope="col">Unit Price</th>
              <th scope="col">Total Price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of order?.items">
              <td data-label="Item">{{ item.article.name }}</td>
              <td data-label="Item">{{ item.article.id }}</td>
              <td data-label="Quantity">{{ item.quantity }}</td>
              <td data-label="Unit Price">{{ item.article.price | currency }}</td>
              <td data-label="Total Price">
                {{ item.quantity * (item.article.price || 0) | currency }}
              </td>
            </tr>
          </tbody>
        </table>
      </figure>
      <p>Total price: {{ getGrandTotalPrice() | currency }}</p>
      <button class="primary" (click)="validateOrder()">Order</button>
    </div>

    <ng-template #noOrder>
      <p>Your cart is empty. Please consider adding items.</p>
    </ng-template>
  </article>
</section>

<section>
  <h2>Catalog</h2>

  <div class="grid" style="grid-template-columns: repeat(4, 1fr)">
    <article *ngFor="let article of catalog">
      <div routerLink="article/{{ article.id }}">
        <h3>{{ article.name }}</h3>
        <img
          src="https://picsum.photos/id/{{ article.id }}/200/300"
          alt="{{ article.description }}"
        />
        <p>{{ article.price | currency }}</p>
      </div>
      <footer>
        <div class="grid" style="grid-template-columns: repeat(2, 1fr)">
          <button class="primary outline" (click)="addArticle(article.id)">+</button>
          <button class="secondary outline" (click)="removeArticle(article.id)">-</button>
        </div>
      </footer>
    </article>
  </div>
</section>
